
.about h2 {
    padding-top: 1px;
    position: relative;

    &::after {
      @include accent-line (1.5rem);
    }
}

.about_text {
    padding-top: 2.5vh;
}

.about_text p:first-of-type {
    margin-top: 12.5%;
}

.about_text p:last-of-type {
    margin-bottom: 0;
}

.about_pic {
    height: 180px;
    margin: 0 auto;
    width: 180px;
    overflow: hidden;
    display: block;
    border-radius: 50%;
    
    img {
        width: 100%;
        display: block;
    }

}

.button_cv {
    margin: 10% auto 0 auto;
    // width: 175px;
    width: 30%;
    @include box-shadow(0, 2px, 2px, 0.6);
}

.accent-font {
    font-weight: 500;
}

@media (min-width: 784px){

    .about_container {
        display: flex;
        justify-content: space-between;
    }

    .about_pic {
        border-radius: 10px;
        flex-basis: 35%;
        height: 100%;
        margin: 0;
    }

    .about_text {
        flex-basis: 60%;
    }

    .button_cv {
        margin-left: 0;
        margin-right: 0;
        margin-top: 5%;
    }

    .about_text p:first-of-type {
        margin-top: 0%;
    }
}

@media (min-width: 1023px){

    .button_cv {
        margin-top: 3.5%;
    }

}