.contact {


    h2 {
        position: relative;
    }

    h2:after {
        @include accent-line(1.5rem);
    }

    .form_bottom {
        text-align: center;
    }

    .email_link {
        text-align: center;
        margin: 0 0 3% 0;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
        transition: color 0.25s;
        display: inline-block;
        position: relative;
        transition: all 0.25s;
    }

    .email_link:after {
        content:'';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: transparent;
        bottom: 0;
        left: 0;
    }

    form {
        font-size: 0.9rem;
    
        input, textarea {
            padding-left: 2.5%;
            border: 1px solid $secondary-color;
            transition: border 0.25s;
        }

        input:focus, textarea:focus{
            border-color: $accent-color;
        }
    
        input::placeholder,
        textarea::placeholder {
            font-size: 0.8rem;
        }

        input[type=text],input[type=email] {
            margin-bottom: 3%;
        }

        textarea {
            margin-bottom: 5.5%;
        }

        button {
            width: 100%;
            margin: 0 auto 2.75% auto;
        }
    
    }

    .contact_icons {

        text-align: center;

        div {
            display: inline-block;
            margin-right: 4%;
            margin-bottom: 0;
        }

        i{
            font-size: 1.15rem;
            transition: color 0.25s;
        }

        i:hover {
            color: $accent-color;
        }

        p {
            margin: 0;
            display: none;
        }
    }
   
}
