.contact {

    h2 {
        margin: 8% 0;
        position: relative;
    }

    h2:after {
        @include accent-line(1.5rem);
    }

    form {
        font-size: 0.9rem;
    
        input, textarea {
            padding-left: 2.5%;
            border: 1px solid $secondary-color;
            transition: border 0.25s;
        }

        input:focus, textarea:focus{
            border-color: $accent-color;
        }
    
        input::placeholder,
        textarea::placeholder {
            font-size: 0.8rem;
        }

        input[type=text]{
            margin-bottom: 3%;
        }

        input[type=email]{
            margin-bottom: 5.5%;
        }

        textarea {
            margin-bottom: 5.5%;
        }

        button {
            width: 100%;
            margin: 0 auto 2.75% auto;
        }
    
    }

    .contact_icons {

        text-align: center;

        div {
            display: inline-block;
            margin-right: 2%;
            margin-bottom: 0;
        }

        i{
            font-size: 1rem;
            margin-right: 2.75%;
            transition: color 0.25s;
        }

        i:hover {
            color: $accent-color;
        }

        p {
            margin: 0;
            display: none;
        }
    }
   
}
