
.portfolio {

    h2 {
        position: relative;

        &:before {
            @include accent-line(1.5rem);
        }
    }

    h3 {
        margin-top: 10%;
    }

    .project1 h3 {
        margin-top: 0;
    }

    .project_container {

        .button-container {
            margin-top: 5.5%;
            padding: 0 auto;
            text-align: center;
            // display: flex;
            // justify-content: space-around;
        }
        button {
            // width: 100px;
            width: 30%;
            @include box-shadow(0, 2px, 2px, 0.6);
            display: inline-block;
        }

        button:first-child  {
            margin-right: 2.5%;
        }

        button:last-child {
            margin-left: 2.5%;
        }

    }

    .project_textContainer {

        span {
            color: $accent-color;
            display: inline-block;
            padding: 0 1.75%;
        }

        p:last-child {
            font-size: 0.825rem;
        }
    }
}

.project1 {
    .project_imgContainer {
        @include box-shadow (0px, 0px, 10px, 0.6);
    }
}

.project2 {
    .project_imgContainer {
        @include box-shadow(0px, 0px, 15px, 0.6);
    }
}

.project3 {
    .project_imgContainer {
        @include box-shadow (0px, 0px, 15px, 0.8);
    }
}

@media (min-width: 709px){
    .portfolio .project_container button {
        width: 150px;
    }

    .portfolio h3 {
        margin-top: 7.5%;
    }
}

@media (min-width: 1023px){

    .portfolio h3 {
        margin-top: 0;
    }

    .project_container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 4%;
    }

    .project2 {
        flex-direction: row;
    }

    .project_container_top, .project_container_bottom{
        flex-basis: 45%;
    }

    .project3 {
        margin-bottom: 0;
    }
}