.skills h2 {
    position: relative;

    &:before {
        @include accent-line (1.5rem);
    }
}

.skill_container {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill_icon {

    list-style: none;
    flex-basis: 20%;
    margin-bottom: 10%;
    margin-right: 10%;
    font-size: 3.25rem;
    display: flex;

    .icon {
        color: $accent-color;
    }
    
    .firebase {
        max-width: 52px;
        max-height: 52px;
    }

}

.skill_icon:nth-child(3n + 3){
    margin-right: 0;
}

.skill_icon:nth-child(n + 7){
    margin-bottom: 0;
}

@media (min-width: 709px){

    .skill_icon {
        font-size: 4.25rem;
    }

    .skill_icon .firebase {
        max-width: 77px;
        max-height: 77px;
    }

    .skill_container {
        justify-content: space-evenly;
    }

    .skill_icon {
        margin-right: 0;
        justify-content: center;
    }

    .skill_icon:nth-child(6){
        margin-bottom: 0;
    }

}
