.skills h2 {
    position: relative;
    margin-top: 20%;
    margin-bottom: 10%;

    &:before {
        @include accent-line (1.5rem);
    }
}

.skill_container {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill_icon {

    list-style: none;
    flex-basis: 20%;
    margin-bottom: 10%;
    margin-right: 10%;
    font-size: 3.25rem;
    display: flex;

    .icon {
        color: $accent-color;
        align-self: center;
    }
    
    .firebase {
        display: block;
        width: 100%;
    }

}

.skill_icon:nth-child(3n + 3){
    margin-right: 0;
}

.skill_icon:nth-child(n + 7){
    margin-bottom: 0;
}

