//Variables

$accent-color: #ff4757;
$hero-text-color: #ffffff;
$text-color: #9e9c9c;
$title-color: #2b2b2b;
$secondary-color: #a8a8a8;

@mixin box-shadow ($x, $y, $spread, $alpha) {
    box-shadow: $x $y $spread rgba(168, 168, 168, $alpha);
}

@mixin accent-line ($width){
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: $width;
    height: 3px;
    display: block;
    background-color: $accent-color;
}

html {
    font-family: 'Poppins', sans-serif;
    color: $text-color;
    overflow-x: hidden;
    -webkit-overflow-x: hidden;
}

.wrapper {
    width: 77%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 600;
    color: $title-color;
}

ul {
    margin: 0;
}

p, li {
    font-size: 0.9rem;
}

img {
    display: block;
    width: 100%;
}

section {
    padding: 1px;
}

section h2 {
    text-transform: uppercase;
}

textarea, input[type="text"], input[type="email"] {
    width: 100%;
}

button {
    display: block;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: #ffffff;
    background-color: $accent-color;
    border-radius: 10px;
    transition: all 0.25s
}

.button:hover {
    border: 1px solid $accent-color;
    background-color: #fff;
    color: $accent-color;
}

.accent-font {
    color: $accent-color;
}

.link {
    position: relative;
    transition: all 0.25s; 
}
        
.link:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $accent-color;
}
        
.link:hover {
    color: $accent-color;
}
        
.link:hover::after {
    background-color: transparent;
}
