article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  text-decoration: none;
  color: inherit; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-family: 'Poppins', sans-serif;
  color: #9e9c9c;
  overflow-x: hidden; }

.wrapper {
  width: 77%;
  margin: 0 auto; }

h1, h2, h3 {
  font-weight: 600;
  color: #2b2b2b; }

ul {
  margin: 0; }

p, li {
  font-size: 0.9rem; }

img {
  display: block;
  width: 100%; }

section {
  padding: 1px; }

section h2 {
  text-transform: uppercase; }

textarea, input[type="text"], input[type="email"] {
  width: 100%; }

button {
  display: block;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: #ff4757;
  border-radius: 10px;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.button:hover {
  border: 1px solid #ff4757;
  background-color: #fff;
  color: #ff4757; }

.accent-font {
  color: #ff4757; }

header li {
  display: inline-block; }

nav {
  height: 8vh; }

.nav_list {
  position: absolute;
  z-index: 10; }

.nav_list li {
  display: none;
  cursor: pointer;
  -webkit-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear; }

.nav_list li:hover {
  color: #ff4757; }

.nav_mobile {
  padding-left: 0;
  width: 52.5vw;
  position: absolute;
  background: #fff;
  z-index: 20;
  -webkit-transform: translateX(190%);
  -ms-transform: translateX(190%);
  transform: translateX(190%);
  opacity: 0; }

.nav_mobile li {
  display: block;
  border: 1px solid #9e9c9c;
  padding: 1.75vh 0 1.75vh 1.75vh; }

.hamburger {
  padding: 1.75vh 0 0 0;
  float: right;
  position: relative;
  z-index: 20; }

.hamburger:hover .hamburger_inner,
.hamburger:hover .hamburger_inner::before,
.hamburger:hover .hamburger_inner::after {
  background-color: #ff4757; }

.hamburger.is_active:hover .hamburger_inner,
.hamburger.is_active:hover .hamburger_inner::before,
.hamburger.is_active:hover .hamburger_inner::after {
  background-color: #ff4757; }

.fullbleed {
  height: calc(100vh - 2.5vh - 10vh);
  padding-top: 25vh;
  background-image: url("../assets/ales-nesetril-734016-unsplash.jpg");
  background-size: cover;
  background-position-x: 17.8%;
  margin-bottom: 2.5vh; }

.fullbleed::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 2.5vh - 10vh);
  z-index: 10;
  margin-top: 8vh;
  background: rgba(158, 156, 156, 0.2); }

.intro {
  color: #fff; }

.intro h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.85rem;
  letter-spacing: 0.35rem;
  text-align: center;
  position: relative;
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 25px #9e9c9c; }

.hello,
.dev-life {
  display: block;
  font-size: 1rem;
  line-height: 2.5;
  font-weight: 500; }

.hello {
  text-transform: none;
  letter-spacing: 0;
  text-align: left;
  letter-spacing: 0.15rem;
  position: relative; }

.hello::after {
  content: '';
  height: 5px;
  width: 20px;
  background-color: #ff4757;
  position: absolute;
  bottom: 40%;
  margin-left: 2.5%; }

.dev-life {
  margin: 0;
  letter-spacing: 0.175rem;
  text-transform: uppercase;
  text-align: right;
  position: relative; }

.dev-life::before {
  content: '';
  height: 5px;
  width: 20px;
  background-color: #ff4757;
  position: absolute;
  margin-left: -10.5%;
  bottom: 40%; }

.intro button {
  margin: 10% auto 0 auto; }

.hamburger {
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }

.hamburger.is_active .hamburger_inner,
.hamburger.is_active .hamburger_inner::before,
.hamburger.is_active .hamburger_inner::after {
  background-color: #9e9c9c; }

.hamburger_box {
  width: 25px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger_inner {
  display: block;
  top: 50%;
  margin-top: -2px; }

.hamburger_inner, .hamburger_inner::before, .hamburger_inner::after {
  width: 25px;
  height: 4px;
  background-color: #9e9c9c;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }

.hamburger_inner::before, .hamburger_inner::after {
  content: "";
  display: block; }

.hamburger_inner::before {
  top: -10px; }

.hamburger_inner::after {
  bottom: -10px; }

.hamburger__spring .hamburger_inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  -o-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear; }

.hamburger__spring .hamburger_inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger__spring .hamburger_inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger__spring.is_active .hamburger_inner {
  -webkit-transition-delay: 0.22s;
  -o-transition-delay: 0.22s;
  transition-delay: 0.22s;
  background-color: transparent !important; }

.hamburger__spring.is_active .hamburger_inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
  transform: translate3d(0, 10px, 0) rotate(45deg); }

.hamburger__spring.is_active .hamburger_inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
  transform: translate3d(0, 10px, 0) rotate(-45deg); }

.about h2 {
  padding-top: 1px;
  position: relative;
  margin-bottom: 8%;
  margin-top: 12.5%; }
  .about h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.5rem;
    height: 3px;
    display: block;
    background-color: #ff4757; }

.about_text p:first-of-type {
  margin-top: 12.5%; }

.about_text p:last-of-type {
  margin-bottom: 0; }

.about_pic {
  height: 180px;
  margin: 0 auto;
  width: 180px;
  overflow: hidden;
  display: block;
  border-radius: 50%; }
  .about_pic img {
    width: 100%;
    display: block; }

.button_cv {
  margin: 10% auto 0 auto;
  width: 175px; }

.accent-font {
  font-weight: 500; }

.skills h2 {
  position: relative;
  margin: 8% 0; }
  .skills h2:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.5rem;
    height: 3px;
    display: block;
    background-color: #ff4757; }

.skill_container {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.skill_icon {
  display: inline-block;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  margin-bottom: 10%;
  margin-right: 10%; }
  .skill_icon .icon {
    font-size: 3rem;
    color: #ff4757; }
  .skill_icon .firebase {
    display: block;
    width: 100%; }

.skill_icon:nth-child(3n + 3) {
  margin-right: 0; }

.skill_icon:nth-child(n + 6) {
  margin-bottom: 0; }

.portfolio .project_container .button-container {
  margin-top: 5.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.portfolio .project_container button {
  width: 100px;
  -webkit-box-shadow: 0 2px 2px rgba(168, 168, 168, 0.6);
  box-shadow: 0 2px 2px rgba(168, 168, 168, 0.6); }

.portfolio h2 {
  margin: 8% 0;
  position: relative; }
  .portfolio h2:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1.5rem;
    height: 3px;
    display: block;
    background-color: #ff4757; }

.portfolio .project_textContainer span {
  color: #ff4757;
  display: inline-block;
  padding: 0 1.75%; }

.portfolio .project_textContainer p:last-child {
  font-size: 0.825rem; }

.portfolio .project_textContainer .link {
  position: relative;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s; }

.portfolio .project_textContainer .link:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ff4757; }

.portfolio .project_textContainer .link:hover {
  color: #ff4757; }

.portfolio .project_textContainer .link:hover::after {
  background-color: transparent; }

.project1 .project_imgContainer {
  -webkit-box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.6);
  box-shadow: 0px 0px 10px rgba(168, 168, 168, 0.6); }

.project2 .project_imgContainer {
  -webkit-box-shadow: 0px 0px 15px rgba(168, 168, 168, 0.6);
  box-shadow: 0px 0px 15px rgba(168, 168, 168, 0.6); }

.project3 .project_imgContainer {
  -webkit-box-shadow: 0px 0px 15px rgba(168, 168, 168, 0.8);
  box-shadow: 0px 0px 15px rgba(168, 168, 168, 0.8); }

.contact h2 {
  margin: 8% 0;
  position: relative; }

.contact h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.5rem;
  height: 3px;
  display: block;
  background-color: #ff4757; }

.contact form {
  font-size: 0.9rem; }
  .contact form input, .contact form textarea {
    padding-left: 2.5%;
    border: 1px solid black;
    -webkit-transition: border 0.25s;
    -o-transition: border 0.25s;
    transition: border 0.25s; }
  .contact form input:focus, .contact form textarea:focus {
    border-color: #ff4757; }
  .contact form input::-webkit-input-placeholder,
  .contact form textarea::-webkit-input-placeholder {
    font-size: 0.8rem; }
  .contact form input:-ms-input-placeholder,
  .contact form textarea:-ms-input-placeholder {
    font-size: 0.8rem; }
  .contact form input::-ms-input-placeholder,
  .contact form textarea::-ms-input-placeholder {
    font-size: 0.8rem; }
  .contact form input::placeholder,
  .contact form textarea::placeholder {
    font-size: 0.8rem; }
  .contact form input[type=text] {
    margin-bottom: 3%; }
  .contact form input[type=email] {
    margin-bottom: 5.5%; }
  .contact form textarea {
    margin-bottom: 5.5%; }
  .contact form button {
    width: 100%;
    margin: 0 auto 2.75% auto; }

.contact .contact_icons {
  text-align: center; }
  .contact .contact_icons div {
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 0; }
  .contact .contact_icons i {
    font-size: 1rem;
    margin-right: 2.75%;
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s; }
  .contact .contact_icons i:hover {
    color: #ff4757; }
  .contact .contact_icons p {
    margin: 0;
    display: none; }

footer {
  background: #000;
  margin-top: 5.5%;
  padding: 1.25% 0;
  text-align: center; }
  footer p {
    font-size: 0.7rem;
    color: #fff;
    margin: 0; }

/*# sourceMappingURL=styles.css.map */